.box-img {
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
}

.box-img {
    transition: all .2s ease-in-out;
}

.box-img:hover {
    transform: scale(2.5);
}

.box-img.active {
    border: 1px solid gold;
}
