.box-img {
    border: 3px solid transparent;
    width: 36px;
    height: 36px;
}

.box-img {
    transition: all .2s ease-in-out;
}

.box-img:hover {
    transform: scale(2.5);
}

.box-img.active {
    border: 3px solid gold;
}
