.box {
    margin: 1px;
    height: 10px;
    width: 10px;
    border: 1px solid lightgray;
    opacity: 0.8;
}

.green {
    --box-color: #92d050;
}

.box.in {
    box-shadow: inset 0 0 0 1.5px var(--box-color);
}

.box.out {
    background-color: var(--box-color);
    box-shadow: inset 0 0 0 2px white;
}

.box.inout {
    box-shadow: inset -5px 0 0 0 var(--box-color);
}

.box.stable {
    background-color: var(--box-color);
}



.bar-chart-container {
    display: flex;
}

.bar-chart {
    background-color: var(--box-color);
}

.bar-chart.in {
    filter: brightness(90%);
}

.bar-chart.stable {
    filter: brightness(100%);
}

.bar-chart.inout {
    filter: brightness(90%);
}

.bar-chart.out {
    filter: brightness(80%);
}

.bar-chart:hover {
    filter: brightness(110%);
}
