.bar-chart-container {
    display: flex;
}

.bar-chart {
    background-color: var(--box-color);
}

.bar-chart.in {
    filter: brightness(90%);
}

.bar-chart.stable {
    filter: brightness(100%);
}

.bar-chart.inout {
    filter: brightness(90%);
}

.bar-chart.out {
    filter: brightness(80%);
}

.bar-chart:hover {
    filter: brightness(110%);
}
