.tooltip-container {
    position: relative;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
    visibility: hidden;
    min-width: 100px;
    width: auto;
    white-space: nowrap;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0s visibility;
}

.box.tooltip-container .tooltip-text {
    bottom: 200%;
}

.tooltip-container .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: black;
}

.tooltip-container:hover > .tooltip-text {
    visibility: visible;
}

.tooltip-container:hover > .tooltip-text:hover {
    opacity: 0;
}
