.instance-class-container .bar-charts-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 75px;
}

.instance-class-container .bar-chart-container {
    flex: 1;
    min-height: 25px;
}