.instance-flow-container {
    display: grid;
    position: relative;
    margin: 40px auto 0 auto;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
    padding: 0 40px;
}

.instance-flow-container .class-label {
    width: 90px;
    align-self: center;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
}
.instance-flow-container.dense .class-label {
    width: 50px;
}

.instance-flow-container.dense {
    grid-column-gap: 50px;
}

.overflow-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#svg {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}